

/*---------------------------------------------*/
/*Navigation*/
/*---------------------------------------------*/



ul.main-nav {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    background-color: #333 !;
    font-size: small;
}
  
ul.main-nav li {
    float: right !important;
  }
  
.js--main-nav li a {
    display: block !important;
    color: black !important;
    text-align: center !important;
    padding: 14px 16px !important;
    text-decoration: none !important;
    border-bottom: 2px solid transparent !important;
    padding-top: 20x !important;
    padding-right: 30px !important;
  }
  
.js--main-nav li a:hover {
    background-color: none !important;
    border-bottom: 2px solid red !important;

}

header {
  background-color :#fff !important;
  box-shadow: 0 2px 2px black !important;
}

.logo {
    width: auto !important;
    height: 50px !important;
    float: left !important;
    margin-top: none !important;
    margin-left: 70px !important;
}

.logo-black {
    display: none !important;
    width: auto !important;
    height: auto !important;
    float: left !important;
    margin: 5px 0 !important;
}

/* mobile navi */

.mobile-nav-icon {
    float: right !important;
    margin-top: 30px !important;
    cursor: pointer !important;
    display: none !important;
}

.mobile-nav-icon i {
    font-size: 200% !important;
    color: #fff;
}



/* sticky navi */

.sticky {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    background-color: rgba(255, 255, 255, 0.98) !important;
    box-shadow: 0 2px 2px red !important;
    z-index: 9999 !important;
}

.sticky .main-nav {
    margin-top: 18px !important;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0 !important;
    color: #555 !important;
}

.sticky .logo {
    display: none !important;
}

.sticky .logo-black {
    display: block !important;
}


  /* --------video--------- */
h2 {
    text-shadow: 2px 2px red; 
    text-align: center;
    padding-top: 100px !important;
    
}

.section_for_page{
   display: -moz-stack !important;
   display: -webkit-box !important;
    
}





#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
  
#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}







/*FOOTER*/

footer {
    background: #16222A !important;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A) !important;
    background: linear-gradient(59deg, #3A6073, #16222A) !important;
    color: white !important;
    margin-top:100px !important;
}
  
footer a {
    color: #fff !important;
    font-size: 14px !important;
    transition-duration: 0.2s !important;
    text-decoration: none !important;
    
}
footer li a:hover {
    background-color: none !important;
    border-bottom: 2px solid red !important;

}
  
  
.copy {
    font-size: 12px !important;
    padding: 10px !important;
    border-top: 1px solid #FFFFFF !important;
}
  
.footer-middle {
    padding-top: 2em !important;
    color: white !important; 
}
  
  
  /*SOCİAL İCONS*/
  
  /* footer social icons */
  
ul.social-network {
    list-style: none !important;
    display: inline !important;
    margin-left: 0 !important;
    padding: 0 !important;
}
  
ul.social-network li {
    display: inline !important;
    margin: 0 5px !important;
}
  
  
  /* footer social icons */
  
.social-network a.icoFacebook:hover {
    background-color: #3B5998 !important;
}
  
.social-network a.icoInstagram:hover {
    background-color: #e4405f !important;
}
.social-network a.icoYoutube:hover {
    background-color:red !important;
}

  
.social-network a.icoFacebook:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoYoutube:hover i {
    color: #fff !important;
}
  
.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD !important;
}
  
.social-circle li a {
    display: inline-block !important;
    position: relative !important;
    margin: 0 auto 0 auto !important;
    -moz-border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
    text-align: center !important;
    width: 30px !important;
    height: 30px !important;
    font-size: 15px !important;
}
  
.social-circle li i {
    margin: 0 !important;
    line-height: 30px !important;
    text-align: center !important;
}
  
.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg) !important;
    -webkit-transform: rotate(360deg) !important;
    -ms--transform: rotate(360deg) !important;
    transform: rotate(360deg) !important;
    -webkit-transition: all 0.2s !important;
    -moz-transition: all 0.2s !important;
    -o-transition: all 0.2s !important;
    -ms-transition: all 0.2s !important;
    transition: all 0.2s !important;
}
  
.social-circle i {
    color: #595959 !important;
    -webkit-transition: all 0.8s !important;
    -moz-transition: all 0.8s !important;
    -o-transition: all 0.8s !important;
    -ms-transition: all 0.8s !important;
    transition: all 0.8s !important;
}
  
.social-network a {
    background-color: #F9F9F9 !important;
}
 








